.banner-text {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Estilo para el banner */
.main-banner {
  width: 100%;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #3498db, #2c3e50);
}
