<!-- Carrusel con altura viewport relativa y máximo -->
<div id="carouselExample" class="carousel slide carousel-container" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../../../../assets/images/carr-uno.png" class="d-block w-100" alt="Equipo de protección industrial">
          <div class="carousel-caption d-none d-md-block">
              <h5>Equipos de Protección</h5>
              <p>Los mejores equipos para seguridad en el trabajo</p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="../../../../../assets/images/carr-dos.png" class="d-block w-100" alt="Maquinaria industrial segura">
          <div class="carousel-caption d-none d-md-block">
              <h5>Soluciones Industriales</h5>
              <p>Protección para maquinaria y entornos laborales</p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="../../../../../assets/images/carr-tres.png" class="d-block w-100" alt="Profesionales capacitados">
          <div class="carousel-caption d-none d-md-block">
              <h5>Capacitación Profesional</h5>
              <p>Entrenamiento en protocolos de seguridad</p>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
  </button>
</div>
