<main>
  <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow-lg" style="width: 400px;">
          <h2 class="text-center mb-3">Ingrese sus credenciales</h2>
          <form (ngSubmit)="loadPrincipal()">
              <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input placeholder="Ingrese su username" type="text" id="username" name="username"
                      [(ngModel)]="username" class="form-control" required>
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input placeholder="Ingrese su contraseña" type="password" id="password" name="password"
                      [(ngModel)]="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Ingresar</button>

              <p class="text-danger text-center mt-2" *ngIf="errorMessage">{{errorMessage}}</p>
          </form>
      </div>
  </div>
</main>
