<!-- <div class="contact-info-section"> -->
  <div>
  <div class="contact-header">
      <h1>Agenda una consulta con nosotros</h1>
      <p>Te ofrecemos una reunión con nuestros equipos de especialistas para evaluar cómo nuestros
          productos de seguridad industrial pueden ayudarte a potenciar tu empresa</p>
  </div>

  <div class="contact-methods">
      <div class="contact-method">
          <span class="icon">[ ]</span>
          <div class="content">
              <strong>Whatsapp</strong>
              939393939
          </div>
      </div>
      <div class="contact-method">
          <span class="icon">[x]</span>
          <div class="content">
              <strong>E-mail</strong>
              contacto--seguridadindustrial.com
          </div>
      </div>
  </div>
</div>